.body {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}
@media screen and (max-width: 750px) {
  .body {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
  }
}
.body span {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body span:nth-child(2) {
  cursor: pointer;
  color: #666;
}

.body span:nth-child(2):hover {
  color: teal;
}
